/* PC 1024px 이상 */
html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
#wrap{min-height:100vh; position:relative; width:100%;}
body{overflow-x:scroll !important; cursor:pointer;}
header{position:fixed; top:0; width:100vw; height:8.4375vw; z-index:10}
header #header{display:grid; grid-template:25px 1fr 25px / 25px 55px 1fr 550px 40px; justify-items:end; max-height:15vh;}
header #header #pc_header{display:grid; grid-row:2/3;grid-column:4/5;grid-template-columns:157px 118px 112px 97px 131px 190px;height:35px; align-items: end; justify-items: center;}
header #header #pc_header div{ place-items:center; overflow:hidden; cursor:pointer; height:100%;}
header #header #pc_header div:nth-child(6){border:1px solid #202020; padding:0 5px; }
header #header #pc_header div p{font-size:1.5rem; text-transform:uppercase; font-weight:bold; margin:0; transform:translateY(8px); transition: 0.2s ease 0s;}
header #header #pc_header div:hover p{transform:translateY(-27px);}
header #header #pc_header div p:nth-child(1){margin-bottom:6px;}
header #mobile_header{display:none; }
nav #only_mobile_menu{display:none;}
main{position:absolute; bottom:0;}
main #main{display:grid; grid-template-columns: 1100px 1000px 800px 1200px 600px 850px; margin-top:8.4375vw; height:47.8125vw}
main #main1{margin-top:0px; height:47.8125vw; display:grid; grid-template-rows:1fr 362px 141px 87px 52px 172px;}
main #main #main1 h1{font-size:11rem; margin-left: 150px; margin-top:0; grid-row:2/3;}
main #main #main1 #h1_only_pc{display:block;}
main #main #main1 #main1_p{margin:30px 1000px 0 525px; grid-row:3/4;}
main #main #main1 #main1_p p{font-size:1rem; width:350px; height: 111px;}
main #main #main1 #main1_1{margin-left:545px; margin-top:50px; grid-row:4/5;}
main #main1 #main1_1 div{height:28px;}
main #main1 #main1_1:hover div:nth-child(2){width:36px}
main #main1 #main1_1:hover div:nth-child(1) p{transform:translateY(-27.59px)}
main #main1 #main1_1:hover div:nth-child(2) p{transform:translateX(7.59px)}
main #main1 #main1_1 div:nth-child(2) p{transform: translateX(-25px);}
main #main #main1 #main1_1 div p{font-size:1.5rem;}
main #main #main1 #main1_mobile{display: none;}
main #main #main1 #main1_pc{display:grid; text-transform: uppercase; margin-left:545px; margin-top:15px; font-size:2rem; font-weight:bold; width:350px; grid-row:5/6;}
main #main1 p{font-size:1.3rem; margin: 10px 25px 30px;}
main #main1 #main1_pc{text-transform: uppercase; margin-left:25px; font-weight:bold; width:350px; cursor:pointer; display:grid; grid-template-columns: 310px 40px; height:37px;}
main #main1 #main1_pc div{overflow:hidden; height:28px}
main #main1 #main1_pc div p{font-size:1.5rem; margin:0; transition:0.4s;}
main #main1 #main1_pc div:nth-child(2) p{width:80px; transform: translateX(-25px);}
main #main1 #main1_pc:hover div:nth-child(1) p{transform: translateY(-27.59px);}
main #main1 #main1_pc:hover div:nth-child(2) p{transform: translateX(9.59px);}
main #main #main1 #main1_pc_2{display:grid; margin-left:25px; margin-top:70px; grid-row:6/7; grid-template-rows: repeat(2,30px);}
footer{display:none;}
main #main1 #main1_pc_2 #sns_main1_pc{display:grid; grid-template-columns:80px repeat(3,30px) 100px; height:30px; overflow:hidden; align-items: center;}
main #main1 #main1_pc_2 #sns_main1_pc p{font-size:0.7rem; height:30px; margin:0; margin-bottom:15px}
main #main1 #main1_pc_2 #sns_main1_pc #pc_insta{cursor:pointer;}
main #main1 #main1_pc_2 #sns_main1_pc #pc_fb{cursor:pointer}
main #main1 #main1_pc_2 #sns_main1_pc #pc_linkedin{cursor:pointer}
main #main1 #main1_pc_2 #sns_main1_pc #pc_insta div{transition:0.4s;}
main #main1 #main1_pc_2 #sns_main1_pc #pc_fb div{transition:0.4s;}
main #main1 #main1_pc_2 #sns_main1_pc #pc_linkedin div{transition:0.4s;}
main #main1 #main1_pc_2 #sns_main1_pc #pc_insta:hover div{transform: translateY(-30px);}
main #main1 #main1_pc_2 #sns_main1_pc #pc_fb:hover div{transform: translateY(-30px);}
main #main1 #main1_pc_2 #sns_main1_pc #pc_linkedin:hover div{transform: translateY(-30px);}
main #main1 #main1_pc_2 #sns_main1_pc #pc_insta div{background: url(../images/pc_insta.png) no-repeat 50%/cover; height:30px;}
main #main1 #main1_pc_2 #sns_main1_pc #pc_fb div{background: url(../images/pc_fb.png)  no-repeat 50%/cover; height:30px;}
main #main1 #main1_pc_2 #sns_main1_pc #pc_linkedin div{background: url(../images/pc_linkedin.png)  no-repeat 50%/cover; height:30px;}
main #main1 #main1_pc_2 #sns_main1_pc #rent{cursor:pointer; height:50px; overflow:hidden;}
main #main1 #main1_pc_2 #sns_main1_pc #rent p{transition:0.4s; margin-left:15px; transform: translateY(5px);}
main #main1 #main1_pc_2 #sns_main1_pc #rent p:nth-child(2){margin-top:0;}
main #main1 #main1_pc_2 #sns_main1_pc #rent:hover p{transform: translateY(-40px)}
main #main1 #main1_pc_2 #copy_main1_pc{display:grid; grid-template-columns: 240px 150px; height:30px; overflow:hidden;}
main #main1 #main1_pc_2 #copy_main1_pc p{font-size:0.7rem; margin:0; width:280px; line-height: 2.5;}
main #main1 #main1_pc_2 #copy_main1_pc div{height:25px; cursor:pointer; border:1px solid #202020;  overflow:hidden; width:150px;}
main #main1 #main1_pc_2 #copy_main1_pc div p{transition:0.4s; text-align:center; margin-left:0; margin-right:0; font-size:0.7rem; margin-top:4px; width:150px; height:30px; line-height: 1.5}
main #main1 #main1_pc_2 #copy_main1_pc div:hover p{transform: translateY(-35px)}
main #main2{display:none}
/* main2_pc전환용 */
main #main2_pc {overflow-x:hidden; height:47.8125vw}
main #main2_pc p{transform:rotate(90deg); font-size:0.7rem; width:100px; text-align:left; margin-top:100px; margin-right:20px; text-transform: uppercase;} 
main #main2_pc h2{margin:0; font-weight:bold; font-size: 12rem; text-transform: uppercase;}
main #main2_pc div{display:grid; grid-template:10px 20px 200px 200px / 0px 60px 1fr; place-items: start; transition:0.9s;}
main #main2_pc div p{grid-row:2/3; grid-column:2/3;}
main #main2_pc div h2{grid-row:2/3; grid-column:3/4;}
main #main2_pc #main2_1_pc{background-color: #eda498;}
main #main2_pc #main2_2_pc{background-color: #9d9f9f;}
main #main2_pc #main2_3_pc{background-color: #89b2cb;}
main #main2_pc #main2_4_pc{background-color: #fed297;}
main #main2_pc #main2_1_pc div{background: url(../images/spine-1-compress.jpg) no-repeat 50%/ cover; grid-row:4/5; grid-column:3/4; display:block; width:100%; height:100%;}
main #main2_pc #main2_3_pc div{background: url(../images/Jefre_Logo_Book_Spine.png) no-repeat 50%/ cover; grid-row:4/5; grid-column:3/4; display:block; width:100%; height:100%;}
/* 새로 */
main #main2_pc{display:grid; grid-template-columns:265px 265px 200px 190px; overflow:hidden; height:47.8125vw; align-items:end;}
main #main2_pc p{color:#000000}
main #main2_pc #main2_1_pc{height:660px; grid-template:500px 160px / 10px 20px 1fr;overflow:hidden; transition:0.9s;}
main #main2_pc #main2_1_pc p{grid-row:1/2; grid-column:1/2;}
main #main2_pc #main2_1_pc h2{grid-row:1/2; grid-column:2/3; font-size:35rem; line-height:0.75; margin-left:15px;}
main #main2_pc #main2_1_pc div{width:265px; height: 160px; grid-row:2/3; grid-column:1/3; transition:0.9s;}
main #main2_pc #main2_2_pc{height:705px; grid-template:45px 500px 160px / 10px 20px 1fr;overflow:hidden; transition:0.9s;}
main #main2_pc #main2_2_pc p{grid-row:2/3; grid-column:1/2;}
main #main2_pc #main2_2_pc h2{grid-row:2/3; grid-column:2/3; font-size:35rem; line-height:0.75; margin-left:15px;}
main #main2_pc #main2_3_pc{height:800px; grid-template:150px 490px 160px / 10px 20px 1fr;overflow:hidden; transition:0.9s;}
main #main2_pc #main2_3_pc p{grid-row:2/3; grid-column:1/2;}
main #main2_pc #main2_3_pc h2{grid-row:2/3; grid-column:2/3; font-size:35rem; line-height:0.75; margin-left:15px;}
main #main2_pc #main2_3_pc div{width:265px; height: 160px; grid-row:1/2; grid-column:1/3; transition:0.9s;}
main #main2_pc #main2_4_pc{height:705px; grid-template:45px 500px 160px / 10px 20px 1fr;overflow:hidden; transition:0.9s;}
main #main2_pc #main2_4_pc p{grid-row:2/3; grid-column:1/2;}
main #main2_pc #main2_4_pc h2{grid-row:2/3; grid-column:2/3; font-size:35rem; line-height:0.75; margin-left:15px;}
main #main3{height:47.8125vw; display:grid; grid-template-rows: 1fr 462px 205px 74px;}
main #main3 h3{font-size:6rem; text-align:right; margin-top:80px; margin-right:150px; width: 650px; grid-row:2/3;}
main #main3 #h3_main3_only_pc{display:block}
main #main3 #h3_main3_only_pc2{display:block}
main #main3 p{font-size:1rem; width:350px; max-width:none;margin-top:0; margin-left:300px; grid-row:3/4;}
main #main3 div{display:grid; grid-template-columns:repeat(2,70px); overflow:hidden; margin-left:300px; width:65px; cursor:pointer; grid-row:4/5;}
main #main3 div p{font-size:4rem; width:65px; margin:0;transform:translateX(-65px); transition:0.4s;}
main #main3 div:hover p{transform:translateX(0);}
main #main4{height:47.8125vw; align-items: end; grid-template: 1fr 30px 50px 542px/repeat(4,290px); overflow:hidden;}
main #main4 #main4_2{grid-row:4/5; transition:0.8s;}
main #main4 #main4_2:hover {height:582px;}
main #main4 #main4_3{grid-row:2/5; transition:0.8s;}
main #main4 #main4_3:hover {height:662px;}
main #main4 #main4_4{grid-row:3/5; transition:0.8s;}
main #main4 #main4_4:hover {height:632px;}
main #main4 #main4_4 div{max-width:240px;max-height:337px;}
main #main4 #main4_5{grid-row:4/5; transition:0.8s;}
main #main4 #main4_5:hover {height:582px;}
main #main4 #main4_5 div{max-width:240px; max-height:162px;}
main #main4 #main4_1{display:none;}
main #main5{height:47.8125vw; display:grid; justify-items:center; grid-template-rows:1fr 450px 300px}
main #main5 h2{grid-row:2/3;font-size:6rem; margin-top:150px; margin-bottom:0; line-height:1}
main #main5 #h2_main5_only_pc{display:block}
main #main5 p{grid-row:3/4;margin-top:0; font-size:1rem; width:350px; max-width:none; max-height:200px;}
main #main6{height:47.8125vw; display:grid; justify-items: center; align-items:end;}
main #main6 div{width:630px; height:100%; max-height:855px; margin-bottom:0;}