/* PC 1024px 이상 */
body{overflow-x:scroll !important;}
header{position:fixed; top:0; width:100vw;}
header #header{display:grid; grid-template:25px 1fr 25px / 25px 55px 1fr 550px 40px; justify-items:end;}
header #header #pc_header{display:grid; grid-row:2/3;grid-column:4/5;grid-template-columns:repeat(6,120px);height:23px; align-items: end; justify-items: center;}
header #header #pc_header div{ place-items:center; overflow:hidden; cursor:pointer; height:100%;}
header #header #pc_header div:nth-child(6){border:1px solid #202020; padding:0 5px; }
header #header #pc_header div p{font-size:0.8rem; text-transform:uppercase; font-weight:bold; margin:0; transform:translateY(8px); transition: 0.2s ease 0s;}
header #header #pc_header div:hover p{transform:translateY(-14px);}
header #header #pc_header div p:nth-child(1){margin-bottom:6px;}
header #mobile_header{display:none; }
nav #only_mobile_menu{display:none;}
main #main{display:grid; grid-template-columns: 1100px 1000px 800px 940px 1200px; margin-top:80px;}
main #main1{margin-top:0px; max-height:95vh;}
main #main #main1 h1{font-size:10rem; margin-left: 150px;}
main #main #main1 #h1_only_pc{display:block;}
main #main #main1 #main1_p{margin:30px 1000px 0 525px;}
main #main #main1 #main1_p p{font-size:1.2rem; width:395px; height: 111px;}
main #main #main1 #main1_1{margin-left:525px; margin-top:50px;}
main #main #main1 #main1_mobile{display: none;}
main #main #main1 #main1_pc{display:grid; text-transform: uppercase; margin-left:525px; margin-top:15px; font-size:2rem; font-weight:bold; width:350px;}
main #main1 p{font-size:1.5rem; margin: 10px 25px 30px;}
main #main1 #main1_pc{text-transform: uppercase; margin-left:25px; font-weight:bold; width:350px; cursor:pointer; display:grid; grid-template-columns: 310px 40px; height:37px;}
main #main1 #main1_pc div{overflow:hidden;}
main #main1 #main1_pc div p{font-size:2rem; margin:0; transition:0.4s;}
main #main1 #main1_pc div:nth-child(2) p{width:80px; transform: translateX(-40px);}
main #main1 #main1_pc:hover div:nth-child(1) p{transform: translateY(-36.8px);}
main #main1 #main1_pc:hover div:nth-child(2) p{transform: translateX(0);}
main #main #main1 #main1_pc_2{display:grid; margin-left:25px; margin-top:100px;}
footer{display:none;}
main #main1 #main1_pc_2 #sns_main1_pc{display:grid; grid-template-columns:190px repeat(3,50px) 240px; height:50px; overflow:hidden;}
main #main1 #main1_pc_2 #sns_main1_pc p{font-size:1.4rem; height:50px;}
main #main1 #main1_pc_2 #sns_main1_pc #pc_insta{cursor:pointer;}
main #main1 #main1_pc_2 #sns_main1_pc #pc_fb{cursor:pointer}
main #main1 #main1_pc_2 #sns_main1_pc #pc_linkedin{cursor:pointer}
main #main1 #main1_pc_2 #sns_main1_pc #pc_insta div{transition:0.4s;}
main #main1 #main1_pc_2 #sns_main1_pc #pc_fb div{transition:0.4s;}
main #main1 #main1_pc_2 #sns_main1_pc #pc_linkedin div{transition:0.4s;}
main #main1 #main1_pc_2 #sns_main1_pc #pc_insta:hover div{transform: translateY(-50px);}
main #main1 #main1_pc_2 #sns_main1_pc #pc_fb:hover div{transform: translateY(-50px);}
main #main1 #main1_pc_2 #sns_main1_pc #pc_linkedin:hover div{transform: translateY(-50px);}
main #main1 #main1_pc_2 #sns_main1_pc #pc_insta div{background: url(../images/pc_insta.png) no-repeat 50%/cover; height:50px;}
main #main1 #main1_pc_2 #sns_main1_pc #pc_fb div{background: url(../images/pc_fb.png)  no-repeat 50%/cover; height:50px;}
main #main1 #main1_pc_2 #sns_main1_pc #pc_linkedin div{background: url(../images/pc_linkedin.png)  no-repeat 50%/cover; height:50px;}
main #main1 #main1_pc_2 #sns_main1_pc #rent{cursor:pointer; height:50px; overflow:hidden;}
main #main1 #main1_pc_2 #sns_main1_pc #rent p{transition:0.4s;}
main #main1 #main1_pc_2 #sns_main1_pc #rent p:nth-child(2){margin-top:0;}
main #main1 #main1_pc_2 #sns_main1_pc #rent:hover p{transform: translateY(-80px)}
main #main1 #main1_pc_2 #copy_main1_pc{display:grid; grid-template-columns: 545px 220px; height:52px; overflow:hidden;}
main #main1 #main1_pc_2 #copy_main1_pc div{height:35px; cursor:pointer; border:1px solid #202020;  overflow:hidden;}
main #main1 #main1_pc_2 #copy_main1_pc div p{transition:0.4s; text-align:center; margin-left:0; margin-right:0; font-size:1.2rem; margin-top:4px;}
main #main1 #main1_pc_2 #copy_main1_pc div:hover p{transform: translateY(-50px)}
main #main2{display:none}
/* main2_pc전환용 */
main #main2_pc {overflow-x:hidden;}
main #main2_pc p{transform:rotate(90deg); font-size:0.7rem; width:100px; text-align:left; margin-top:100px; margin-right:20px; text-transform: uppercase;} 
main #main2_pc h2{margin:0; font-weight:bold; font-size: 12rem; text-transform: uppercase;}
main #main2_pc div{display:grid; grid-template:10px 20px 200px 200px / 0px 60px 1fr; place-items: start; transition:1.2s;}
main #main2_pc div p{grid-row:2/3; grid-column:2/3;}
main #main2_pc div h2{grid-row:2/3; grid-column:3/4;}
main #main2_pc #main2_1_pc{background-color: #eda498;}
main #main2_pc #main2_2_pc{background-color: #9d9f9f;}
main #main2_pc #main2_3_pc{background-color: #89b2cb;}
main #main2_pc #main2_4_pc{background-color: #fed297;}
main #main2_pc #main2_1_pc div{background: url(../images/spine-1-compress.jpg) no-repeat 50%/ cover; grid-row:4/5; grid-column:3/4; display:block; width:100%; height:100%;}
main #main2_pc #main2_3_pc div{background: url(../images/Jefre_Logo_Book_Spine.png) no-repeat 50%/ cover; grid-row:4/5; grid-column:3/4; display:block; width:100%; height:100%;}
/* 새로 */
main #main2_pc{display:grid; grid-template-columns:265px 265px 200px 190px; overflow:hidden; height:90vh; align-items:end;}
main #main2_pc p{color:#000000}
main #main2_pc #main2_1_pc{height:660px; grid-template:500px 160px / 10px 20px 1fr;overflow:hidden; transition:1.2s;}
main #main2_pc #main2_1_pc p{grid-row:1/2; grid-column:1/2;}
main #main2_pc #main2_1_pc h2{grid-row:1/2; grid-column:2/3; font-size:35rem; line-height:0.75; margin-left:15px;}
main #main2_pc #main2_1_pc div{width:265px; height: 160px; grid-row:2/3; grid-column:1/3;}
main #main2_pc #main2_2_pc{height:705px; grid-template:45px 500px 160px / 10px 20px 1fr;overflow:hidden; transition:1.2s;}
main #main2_pc #main2_2_pc p{grid-row:2/3; grid-column:1/2;}
main #main2_pc #main2_2_pc h2{grid-row:2/3; grid-column:2/3; font-size:35rem; line-height:0.75; margin-left:15px;}
main #main2_pc #main2_3_pc{height:800px; grid-template:150px 490px 160px / 10px 20px 1fr;overflow:hidden; transition:1.2s;}
main #main2_pc #main2_3_pc p{grid-row:2/3; grid-column:1/2;}
main #main2_pc #main2_3_pc h2{grid-row:2/3; grid-column:2/3; font-size:35rem; line-height:0.75; margin-left:15px;}
main #main2_pc #main2_3_pc div{width:265px; height: 160px; grid-row:1/2; grid-column:1/3;}
main #main2_pc #main2_4_pc{height:705px; grid-template:45px 500px 160px / 10px 20px 1fr;overflow:hidden; transition:1.2s;}
main #main2_pc #main2_4_pc p{grid-row:2/3; grid-column:1/2;}
main #main2_pc #main2_4_pc h2{grid-row:2/3; grid-column:2/3; font-size:35rem; line-height:0.75; margin-left:15px;}