body{background-color: #f7f0ee; font-family:'Noto sans kr'}
header #header{display:grid; grid-template:25px 1fr 25px / 25px 55px 1fr 50px 25px}
header #header #header_logo{grid-row:2/3; grid-column:2/3;}
header #header #pc_header{display:none;}
header #header #mobile_header{grid-row:2/3; grid-column:4/5; position:relative; cursor:pointer;}
header #header #mobile_header div{position:absolute; width: 28px; height:3px; background-color:rgb(32,32,32); z-index:10000; transition: transform 0.4s cubic-bezier(0.52, 0.01, 0, 1) 0.4s;}
header #header #mobile_header #mobile_header1{left:50%; transform:translateX(-50%) scale(1); top:20px }
header #header #mobile_header #mobile_header2{left:50%; transform:translateX(-50%) scale(1);bottom:20px }
#header_logo svg{width:55px; height:55px;}

nav #only_mobile_menu{background-color: #eda498; position:fixed; z-index:9999; top:-100vh; width:100vw; height:100vh; display:grid; grid-template: 25px 58px 300px 1fr 160px 40px/ 25px 1fr 25px; transition:0.6s;}
nav #only_mobile_header{display:grid; grid-row:2/3; grid-column:2/3; grid-template: 1fr /  55px 1fr 50px}
nav #only_mobile_header #mobile_header0{grid-column:3/4; position:relative; cursor:pointer; z-index:10001}
nav #only_mobile_header #mobile_header0 div{position:absolute; width: 28px; height:3px; background-color:rgb(32,32,32); z-index:10000; transition: transform 0.4s cubic-bezier(0.52, 0.01, 0, 1) 0.4s;}
nav #only_mobile_menu p{text-transform: uppercase; grid-column:1/2; font-size:1.5rem; line-height:1rem;font-weight: bold;}
nav #only_mobile_menu #only_mobile_main{list-style: none; padding:0; grid-row: 3/4; grid-column:2/3;}
nav #only_mobile_menu #only_mobile_main a{color:#202020; text-decoration: none; text-transform: uppercase; font-size:3.5rem; font-weight:bold;}
nav #only_mobile_menu #only_mobile_main div:nth-child(6){margin-top:15px; border:1px solid #202020; width:314px; height:45px; display:grid; place-items: center;}
nav #only_mobile_menu #only_mobile_main div:nth-child(6) a{font-size:1.8rem;}
nav #only_mobile_menu #mobile_sns{grid-row: 5/6; grid-column:2/3;}
nav #only_mobile_menu #mobile_copy{grid-row: 6/7; grid-column:2/3;}
nav #mobile_sns{display:grid; grid-template-rows:repeat(3,50px); align-items:center;}
nav #mobile_sns #mobile_insta{text-transform: uppercase; border-top:1px solid #202020; height:50px; grid-row:1/2; display:grid; align-items:center; display:grid; align-items:center; grid-template:10px 30px 10px/ 50px 1fr;}
nav #mobile_sns #mobile_insta div{background: url(../images/mobile_insta.png) no-repeat 50%/cover; grid-row:2/3;grid-column:1/2; width:50%; height:100%;}
nav #mobile_sns #mobile_insta p{grid-row: 2/3; grid-column:2/3; font-size:1.2rem}
nav #mobile_sns #mobile_fb{text-transform: uppercase; border-top:1px solid #202020; height:50px; grid-row:2/3; display:grid; align-items:center; display:grid; align-items:center;  grid-template:10px 30px 10px/ 50px 1fr;}
nav #mobile_sns #mobile_fb div{background: url(../images/mobile_fb.png) no-repeat 50%/cover; grid-row:2/3;grid-column:1/2; width:50%; height:100%;}
nav #mobile_sns #mobile_fb p{grid-row: 2/3; grid-column:2/3; font-size:1.2rem}
nav #mobile_sns #mobile_join{text-transform: uppercase; border-top:1px solid #202020; height:50px; grid-row:3/4; display:grid; align-items:center;  display:grid; align-items:center; font-weight:bold;}
nav #mobile_sns div p{text-transform: uppercase; margin:0; font-weight:bold;}
nav #mobile_copy{display:grid; grid-template-columns:250px 120px 1fr; justify-items:start;}
nav #mobile_copy p{max-width:250px; font-size:0.75rem; grid-column:1/2; grid-row:1/2; font-weight:400; text-transform:none;}
nav #mobile_copy a{font-size:0.75rem; color:#202020; text-decoration: none; margin:12px auto;}
main #main1{margin-top:200px;}
main #main1 h1{font-size:6rem; text-transform:uppercase;line-height: 1;  font-weight:bold; margin:50px 25px 10px;}
main #main #main1 #h1_only_pc{display:none}
main #main1 p{font-size:1.5rem; margin: 10px 25px 30px;}
main #main1 #main1_1{text-transform: uppercase; margin-left:25px; font-weight:bold; width:280px; cursor:pointer; display:grid; grid-template-columns: 240px 40px; height:37px;}
main #main1 #main1_1 div{overflow:hidden;}
main #main1 #main1_1 div p{font-size:2rem; margin:0; transition:0.4s;}
main #main1 #main1_1 div:nth-child(2) p{width:80px; transform: translateX(-40px);}
main #main1 #main1_1:hover div:nth-child(1) p{transform: translateY(-36.8px);}
main #main1 #main1_1:hover div:nth-child(2) p{transform: translateX(0);}
main #main1 #main1_mobile{ text-transform: uppercase; width:100%; display:grid; height:120px; justify-items: end;}
main #main #main1 #main1_p{margin-top:50px; margin-bottom:50px}
main #main1 #main1_mobile p{transform:rotate(90deg);font-size:0.5rem; width:100px; margin:0; margin-right:30px;}
main #main1 #main1_pc{display:none;}
main #main1 #main1_pc_2{display:none}
main #main2 {overflow-x:hidden;}
main #main2 p{transform:rotate(90deg); font-size:0.7rem; width:100px; text-align:left; margin-top:100px; margin-right:20px; text-transform: uppercase;} 
main #main2 h2{margin:0; font-weight:bold; font-size: 12rem; text-transform: uppercase;}
main #main2 div{display:grid; grid-template:10px 20px 200px 200px / 0px 60px 1fr; place-items: start;}
main #main2 div p{grid-row:2/3; grid-column:2/3;}
main #main2 div h2{grid-row:2/3; grid-column:3/4;}
main #main2 #main2_1{background-color: #eda498;}
main #main2 #main2_2{background-color: #9d9f9f;}
main #main2 #main2_3{background-color: #89b2cb;}
main #main2 #main2_4{background-color: #fed297;}
main #main2 #main2_1 div{background: url(../images/spine-1-compress.jpg) no-repeat 50%/ cover; grid-row:4/5; grid-column:3/4; display:block; width:100%; height:100%;}
main #main2 #main2_3 div{background: url(../images/Jefre_Logo_Book_Spine.png) no-repeat 50%/ cover; grid-row:4/5; grid-column:3/4; display:block; width:100%; height:100%;}
main #main2_pc{display:none}
main #main3 h3{text-transform: uppercase; margin:50px 25px; font-size:4.5rem;}

main #main3 p{margin:50px 25px; color:#313131; max-width:280px;}
main #main4 {overflow-x:scroll; display:grid; grid-template:30px 50px 542px/repeat(4,290px); align-items:center; justify-items:start;}
main #main4 div p{transform:rotate(90deg); text-transform:uppercase; font-size:0.75rem;}
main #main4 div h4{font-size:1.5rem; text-transform: uppercase; text-align:right; margin-right:15px;}
main #main4 #main4_1{margin-left:25px; grid-row:1/2; grid-column:1/2; font-size:2rem;}
main #main4 #main4_2{ grid-row:3/4; grid-column:1/2;background-color: #f07c5c; width:100%; height:100%; display:grid; grid-template:30px 150px 1fr 250px/25px 15px 1fr;}
main #main4 #main4_2 p{grid-row:2/3; grid-column:1/2; height:25px; width:200px; margin:0; margin-top:100px; margin-left:-75px;}
main #main4 #main4_2 h4{grid-row:2/3; grid-column:3/4;}
main #main4 #main4_2 div{grid-row:4/5; grid-column:2/4; background:url(../images/parangal.jpeg) no-repeat 50% /cover;}
main #main4 #main4_3{ grid-row:1/4; grid-column:2/3;background-color: #fed555;width:100%; height:100%; display:grid; grid-template:30px 150px 1fr 30px 40px/25px 15px 25px 1fr;}
main #main4 #main4_3 p{grid-row:2/3; grid-column:1/2; height:25px; width:200px; margin:0; margin-top:100px; margin-left:-75px;}
main #main4 #main4_3 h4{grid-row:4/5; grid-column:3/5; margin:0; margin-right:20px;}
main #main4 #main4_3 div{grid-row:2/3; grid-column:4/5; background:url(../images/Whitagram-Image.png) no-repeat 50% /cover; margin-top:10px;margin-right:-1px;}
main #main4 #main4_4{ grid-row:2/4; grid-column:3/4;background-color: #ba4148;width:100%; height:100%; display:grid; grid-template:30px 150px 75px 1fr/25px 15px 1fr 15px 25px;}
main #main4 #main4_4 p{grid-row:2/3; grid-column:1/2; height:25px; width:200px; margin:0; margin-top:100px; margin-left:-75px;}
main #main4 #main4_4 h4{grid-row:2/3; grid-column:3/5; margin:0; margin-top:10px;}
main #main4 #main4_4 div{grid-row:4/5; grid-column:2/5; background:url(../images/FutureStudies_Poster0.jpg) no-repeat 50% /cover;}
main #main4 #main4_5{ grid-row:3/4; grid-column:4/5;background-color: #5ea5c4;width:100%; height:100%; display:grid; grid-template:30px 150px 150px 1fr 50px/25px 15px 1fr 15px 25px;}
main #main4 #main4_5 p{grid-row:2/3; grid-column:1/2; height:25px; width:200px; margin:0; margin-top:100px; margin-left:-75px;}
main #main4 #main4_5 h4{grid-row:2/3; grid-column:3/5; margin:0; margin-top:10px;}
main #main4 #main4_5 div{grid-row:4/5; grid-column:2/5; background:url(../images/Screen_Shot_2021-06-12_at_9.34.37_AM.png) no-repeat 50% /cover;}
main #main5 h2{margin:250px 25px 30px; text-transform:uppercase; font-size:4.5rem;}
main #main5 p{margin:50px 25px; color:#313131; max-width:240px;}
main #main5 div{background: url(../images/Give_a_fck.png) no-repeat 50% / cover; width:100vw; height:136vw; margin-bottom:125px;}
footer #footer{background-color: #202020; color:#f7f0ee; padding:30px 25px;}
footer #footer #footer_main{text-transform: uppercase; margin-bottom:30px;font-weight:bold;}
footer #footer #sns{display:grid; grid-template-rows:repeat(4,50px); align-items:center;}
footer #footer #sns #insta{text-transform: uppercase; border-top:1px solid #f7f0ee; height:50px; grid-row:1/2; display:grid; align-items:center; display:grid; align-items:center; grid-template-columns:50px 1fr;}
footer #footer #sns #insta div{background: url(../images/insta.png) no-repeat 50%/cover; grid-column:1/2; width:66%; height:66%;}
footer #footer #sns #fb{text-transform: uppercase; border-top:1px solid #f7f0ee; height:50px; grid-row:2/3; display:grid; align-items:center; display:grid; align-items:center; grid-template-columns:50px 1fr;}
footer #footer #sns #fb div{background: url(../images/fb.png) no-repeat 50%/cover; grid-column:1/2; width:66%; height:66%;}
footer #footer #sns #linkedin{text-transform: uppercase; border-top:1px solid #f7f0ee; height:50px; grid-row:3/4; display:grid; align-items:center; display:grid; align-items:center; grid-template-columns:50px 1fr;}
footer #footer #sns #linkedin div{background: url(../images/linkedin.png) no-repeat 50%/cover; grid-column:1/2; width:66%; height:66%;}
footer #footer #sns #join{text-transform: uppercase; border-top:1px solid #f7f0ee; height:50px; grid-row:4/5; display:grid; align-items:center;  display:grid; align-items:center; font-weight:bold;}
footer #footer #sns div p{text-transform: uppercase; margin:0; font-weight:bold;}
footer #footer #copy{display:grid; grid-template-columns:250px 120px 1fr; justify-items:start;}
footer #footer #copy p{max-width:250px; font-size:0.75rem;}
footer #footer #copy a{font-size:0.75rem; color:#f7f0ee; text-decoration: none; margin:12px auto;}
footer #footer #portfolio{border:1px solid #f7f0ee; border-radius: 5px; width:200px; height:30px; display:grid; place-items: center; margin:15px auto;}
footer #footer #portfolio a{color:#f7f0ee; text-decoration: none;}